Source: tn5250
Section: System
Priority: optional
Maintainer: Luca Vercelli <luca.vercelli.to@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
#Vcs-Git: git://anonscm.debian.org/collab-maint/tn5250.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/tn5250.git

Package: tn5250
Architecture: all
Depends: ${misc:Depends}, xterm, bash, sleep
Description: Terminal emulator to connect to AS/400 session.
 This program uses normal telnet protocol, not really 5250, so many features will lack.
 .
 This program is a lightweight (and fully open source) alternative to tn5250j.
 .
 This program is made up of a single shell script that properly configures
 xterm and telnet for connection.

